/* 공통으로 들어가는 CSS */

* {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}



svg {
    display: block;
    vertical-align: middle;
    color: #ffffff66;
}

body {
    overflow: hidden;
    background-color: rgba(18,19,20,1);
}

p {
    
}

/* 메인 보더 CSS */
.main-border{
    margin-left: 297px; margin-top: 10px; /*임시로 위치 지정*/
    width: 1614px;
    height: 893px;
    border: solid 1px; 
    border-radius: 16px;
    border-color: rgba(255,255,255,0.0800);
    background-color: #0e0f10;
    overflow: hidden;
}

/* 임시 헤더 CSS 나중에 비교 후 삭제 예정 */
.div-header {
    width: 1614px;
    height: 52px;
    flex-direction: column;
    border-color: rgba(255,255,255,0.0800);
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.0800);
    width: 100%;
    display: flex;
}

/* div 전체를 감싸는 CSS */
.div-container {
    flex: 1 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    outline: none;
    position: relative;
}

/* div에 들어가는 컨텐츠를 모두 감싸는 CSS */
.div-content-wrap {
    flex-direction: column;
    max-width: 1000px;
    gap: 16px;
    flex: 1 0 0;
    width: 100%;
    display: flex;
}

/* 컨텐츠 배너의 CSS */
.banner-container {
    align-items: flex-end;
    border: 1px solid;
    border-color: rgba(255,255,255,0.0800);
    border-radius: 12px;
    min-height: fit-content;
    max-width: 1000px;
    cursor: pointer;
    display: flex;
    width: 100%;
    background-color: #121314;
    overflow-y: auto;
}

.banner-content-wrap {
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    gap: 6px;
    flex: 1 0 0;
    display: flex;
}

.banner-content {
    width: 100%;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.banner-content-text01 {
    color: #ffffff;
    white-space: pre-wrap;
    letter-spacing: -.36px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.banner-content-text02 {
    font-size: 8px;
    font-family: Pretendard Variable;
    color: #ffffff66;
}

.banner-content-image {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.banner-image {
    color: transparent;
    border-radius: 12px;
    height: 84px;
    object-fit: cover;
    width: 117px;
}

/* 배너 아래쪽 탐색 컨텐츠 */

/* event전체 DIV CSS */
.event-container {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff14;
    border-radius:16px;
    flex-direction: column;
    background-color: #121314;
    width: 100%;
    display: flex;
}

/* 탐색 DIV 영역 CSS */
.search-wrap {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 12px;
    display: flex;
}
/* 탐색 영역 "유형별 탐색 영역" 및 곧 시작하는 이벤트 */
.search-text-area {
    align-items: flex-end;
    gap: 8px;
    width: 97%;
    display: flex;
}

.search-text {
    align-items: flex-start;
    flex-direction: column;
    padding-inline: 8px;
    width: 100%;
    gap: 4px;
    display: flex
}

.search-text-inner {
    align-items: flex-end;
    white-space: pre-line;
    gap: 8px;
    width: 100%;
    display: flex;
}

.search-content {
    color: #ffffff;
    letter-spacing: -.36px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

/* 우측 화살표 버튼 */
.search-arrows {
    align-items: flex-end;
    gap: 6px;
    display: flex;
    width: 62px;
    height: 28px;
}

.search-left-arrow {
    align-items: center;
    display: flex;
}

.left-arrow-button {
    opacity: .4;
    cursor: not-allowed;
    background-color: #ffffff1f;
    justify-content: center;
    align-items: center;
    min-height: 28px;
    max-height: 28px;
    padding: 6px;
    display: inline-flex;
    border-radius: 7px;
    width: 28px;
    height: 28px;
}

.left-arrow-svg {
    width: 16px;
    height: 16px;
}

.search-right-arrow {
    align-items: center;
    display: flex;
}

.right-arrow-button {
    opacity: .4;
    cursor: not-allowed;
    background-color: #ffffff1f;
    justify-content: center;
    align-items: center;
    min-height: 28px;
    max-height: 28px;
    padding: 6px;
    display: inline-flex;
    border-radius: 7px;
    width: 28px;
    height: 28px;
}

.right-arrow-svg {
    width: 16px;
    height: 16px;
}

/* 이미지 영역 CSS */
.search-image-area {
    overflow-x: auto;
    scrollbar-width: none;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.search-image-wrap {
    flex-shrink: 0;
    flex-direction: column;
    width: 25vw;
    cursor: pointer;
    padding: 8px;
    gap: 12px;
    display: flex;
    width: 123px;
    height: 189px;
}

.search-image {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
}

/* 탐색 이미지 아래 텍스트 CSS */
.search-image-text {
    flex-direction: column;
    gap: 4px;
    display: flex;
}

.primary-text-inner {
    letter-spacing: -.44999999999999996px;
    /* font-family: var(--texts--fonts--table); */
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}

.secondary-text-inner {
    color : #ffffff99;
    letter-spacing: -.24px;
    /* font-family: var(--texts--fonts--body); */
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

/* 이벤트 시작 CSS */
.event-wrap {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 12px;
    display: flex;
}

/* 이벤트 이미지 영역 CSS */
.event-image-area {
    overflow-x: auto;
    scrollbar-width: none;
    overflow: hidden;
    width: 100%;
    display: flex;
}
/* 이벤트 이미지 CSS */
.event-image-wrap {
    flex-shrink: 0;
    flex-direction: column;
    max-width: 224px;
    cursor: pointer;
    padding: 8px;
    gap: 12px;
    display: flex
}

.event-image {
    position: relative;
    width: 228px;
}

.event-image-inner {
    color: transparent;
    border-radius: 8px;
    height: 152px;
    object-fit: cover;
    width: 228px;
}

.d-day-count {
    cursor: default;
    left: 6px;
    position: absolute;
    top: 6px;
    border-radius: 5px;
    padding: 3px 6px;
    background: #00000066;
    gap: 3px;
    letter-spacing: -.2px;
    /* font-family: var(--texts--fonts--body); */
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
}

.d-day-count-inner {
    color: #ffffff;
    letter-spacing: -.2px;
    /* font-family: var(--texts--fonts--body); */
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
}

/* 이벤트 텍스트 CSS */
.event-image-text {
    justify-content: flex-start;
    flex-direction: column;
    gap: 6px;
    flex: 1 0 0;
    display: flex;
}

.image-text-header {
    gap: 6px;
    display: flex;
}

/* 텍스트 안에 아이콘 */
.header-icon {
    cursor: default;
    align-items: center;
    position: relative;
    display: flex;
}

.header-icon-inner {
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    display: flex
}

.header-text {
    color: #ffffff;
     letter-spacing: -.24px;
    /* font-family: var(--texts--fonts--body); */
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.image-text-middle {
    align-items: center;
    gap: 6px;
    display: flex;
}

.image-text-middle-inner {
    color: #ffffff;
      letter-spacing: -.26px;
    /* font-family: var(--texts--fonts--body); */
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.image-text-footer {
    flex-direction: column;
    display: flex;
}

.image-text-footer-inner {
    color: #ffffff99;
     letter-spacing: -.24px;
    /* font-family: var(--texts--fonts--body); */
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}


/* 주제별 보기 CSS */
.theme-area {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 12px;
    display: flex;
}

.theme-wrap {
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    display: flex;
}

.theme-inner {
    min-width: 200px;
    flex: 1 1 calc((100% - 16px) / 3);
    max-width: 290px;
    cursor: pointer;
    padding: 12px;
    gap: 12px;
    display: flex;
}

.theme-inner-icon {
    border-radius: 7.2px;
    cursor: inherit;
    height: 22px;
    padding: 7.2px;
    justify-content: center;
    align-items: center;
    background: #ffffff1f;
    display: inline-flex;
    color: #ffffff;
}

.theme-icon-svg {
    color: #ffffff;
}

.theme-inner-text {
    flex-direction: column;
    flex: 1 0 0;
    display: flex
}

.theme-inner-text-primary {
    color: #ffffff;
    letter-spacing: -.3px;
    font-size: 15px;
    line-height: 20px;
    /* font-family: var(--texts--fonts--body); */
    font-weight: 400;
}

.theme-inner-text-secondary {
    color: #ffffff99;
     /* font-family: var(--texts--fonts--body); */
    font-weight: 400;
    letter-spacing: -.26px;
    font-size: 13px;
    line-height: 18px;
}

/* 하단 컨텐츠 CSS */
.div-content-wrap-bottom {
    width: 100%;
    /* display: flex; */
    gap: 8px;
    max-width: 1000px;
    margin-bottom: 80px;
}

/* 컨텐츠 범위 잡기 */
.search-event-content {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff14;
    flex-direction: column;
    border-radius: 16px;
    background: #121314;
    gap: 8px;
    /* width: 100%; */
    padding: 12px;
    display: flex;
}

/* 검색 범위 지정 CSS */
.search-bar-wrap {
    flex: 1 1 0%;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    padding: 8px;
    display: flex;
}

/* 검색바 CSS */
.search-bar {
    justify-content: left;
    align-items: center;
    max-height: 36px;
    border-radius: 9px;
    min-height: 36px;
    padding-inline: 8px;
    flex: 1 1 0%;
    gap: 8px;
    width: 100%;
    background: #ffffff14;
    display: flex
}

.search-bar-icon-wrap {
    flex-shrink: 0;
    align-items: center;
    display: flex;
}

.search-bar-icon {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: #ffffff66;
}

.search-bar-input {
    background: #00000000;
    height: 20px;
    border: none;
    outline: none;
}

/* 카테고리1 CSS */
.select-category-wrap {
    align-items: center;
    max-height: 36px;
    min-height: 36px;
    border-radius: 9px;
    display: inline-flex;
    padding-inline: 12px;
    cursor: pointer;
    background: #ffffff14;
}

.select-category {
   padding-inline: 6px;
   text-overflow: ellipsis;
   color: #ffffff; 
    width: 100%;
    /* font-family: var(--texts--fonts--body); */
    font-weight: 400;
    letter-spacing: -.26px;
    font-size: 13px;
    line-height: 18px;
}

.select-category-box {
    border-radius: 0px;
    cursor: inherit;
    height: 18px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color : #ffffff66
}

/* 카테고리2 CSS */

.select-theme-wrap {
    align-items: center;
    max-height: 36px;
    min-height: 36px;
    border-radius: 9px;
    display: inline-flex;
    padding-inline: 12px;
    cursor: pointer;
    background: #ffffff14;
}

.select-theme {
   padding-inline: 6px;
   text-overflow: ellipsis;
   color: #ffffff; 
    width: 100%;
    /* font-family: var(--texts--fonts--body); */
    font-weight: 400;
    letter-spacing: -.26px;
    font-size: 13px;
    line-height: 18px;
}

.select-theme-box {
    border-radius: 0px;
    cursor: inherit;
    height: 18px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color : #ffffff66
}

/* 카테고리3 CSS */

.select-location-wrap {
    align-items: center;
    /* padding: 9px; */
    max-height: 36px;
    min-height: 36px;
    border-radius: 9px;
    display: inline-flex;
    padding-inline: 12px;
    cursor: pointer;
    background: #ffffff14;
}

.select-location {
   padding-inline: 6px;
   text-overflow: ellipsis;
   color: #ffffff; 
    width: 100%;
    /* font-family: var(--texts--fonts--body); */
    font-weight: 400;
    letter-spacing: -.26px;
    font-size: 13px;
    line-height: 18px;
}

.select-location-box {
    border-radius: 0px;
    cursor: inherit;
    height: 18px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color : #ffffff66
}

/* 반응형 검색 시 나오는 영역 CSS */

.find-box-container {
    overflow-y: auto;
    flex-direction: column;
    min-height: 400px;
    scrollbar-width: none;
    overflow: hidden;
    width: 100%;
    display: flex;
}

.unfinded-wrap {
    gap: 20px;
    width: 100%;
    display: flex
}

.unfinded-inner {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;
    display: flex;
    padding: 30px 20px;
}

.unfinded-inner-text {
    white-space: pre-line;
    text-align: center;
    color: #ffffff;
    letter-spacing: -.3px;
    /* font-family: var(--texts--fonts--body); */
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.footer-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4px;    
    display: flex;
    margin-top: 10px;
}

.footer-button {
    column-gap: 3px;
    justify-content: center;
    align-items: center;
    min-height: 28px;
    max-height: 28px;
    padding: 6px;
    display: inline-flex;
    width: fit-content;
    cursor: pointer;
    letter-spacing: -.24px;
    /* font-family: var(--texts--fonts--body); */
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    background: #00000000;
}

.footer-button-inner {
    padding-inline: 4px;
    color: #ffffff99;
    white-space: nowrap;
}

 
/* .js-event {
    pointer-events: auto;
    inset: 0;
    background: #00000099;
    position: fixed;
    z-index: 988;
    width: 1920px;
    height: 100%;
    display: none;
} */



/* overlay */
.modal-overlay {
    position: fixed;
     inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 998;
}

/* modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  transform: translate(-50%, -50%) scale(0.95);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
  z-index: 999;
}

/* open state */
.modal-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.modal.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

/* modal안에 내용 */

.modal-container {
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
}

.modal-wrap {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff14;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    border-radius: 16px;
    background: #121314;
    display: flex;
}

.modal-header {
    justify-content: space-between;
    top: 0;
    align-items: center;
    min-height: 56px;
    height: 56px;
    padding-inline: 8px;
    position: sticky;
    width: 100%;
    display: flex;
}